<div class='center_errors'>
    <%if @user.errors.any? %>
      <div id="error_explanation">
        <div class="bar">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        </div>
        <ul>
          <% @user.errors.each do |error| %>
          <div class="bar">
            <div class="bar error"><li><%= error.full_message %></li></div>
          </div>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

<div class='form'>

  <%= form_for @user, url: signup_path do|f| %>
  <%=f.label :username%>
  <%=f.text_field :username%><br>
  <%=f.label :age%><br>
  <%=f.text_field :age%><br>
  <%=f.label :about%><br>
  <%=f.text_area :about%><br>
  <%=f.label :email%><br>
  <%=f.text_field :email%><br>
  <%=f.label :password%>
  <%=f.password_field :password%><br><br>
  
  <%=f.submit%>
  <% end %>
</div>