<h1>Edit Profile</h1><br>
 
<div class='form'>
    <%= form_for @user do|f| %>
        <%=f.label :username%>
        <%=f.text_field :username%><br><br>
        <%=f.label :age%><br>
        <%=f.text_field :age%><br><br>
        <%=f.label :about%><br>
        <%=f.text_area :about%>
        
        <%=f.submit%>
        <button><%= link_to "Cancel", user_path(@user), method: 'get', :class => "button" %></button>
    <% end %>

    <h4> Would you like to delete you account?</h4>
    <button><%= link_to "Delete Account", user_path(@user), method: 'delete',:class => "button" %></button>

</div>