<div class='center_errors'>
    <%if @game.errors.any? %>
      <div id="error_explanation">
        <div class="bar">
          <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
        </div>
        <ul>
          <% @game.errors.each do |error| %>
          <div class="bar">
            <div class="bar error"><li><%= error.full_message %></li></div>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
</div>


<%= form_for @game do|f| %>
    <%=f.label :title%><br>
    <%=f.text_field :title%><br><br>

    <%=f.label "Please enter URL of image "%><br>
    <%=f.text_field :image%><br><br>

    <%=f.label :description%><br>
    <%=f.text_area :description%><br><br>

    Select a category<br>
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "select"}%><br>
    
    <%= f.fields_for :category do |category_attributes|%>
      Create a Category 
          <%= category_attributes.text_field :name %>
    <% end %>

    <%=f.submit%>
  <% end %>
