    
    
<% if current_user%>
    <h1 class ="game_logo"><img class= 'header_img' src="https://cdn.iconscout.com/icon/free/png-512/game-wireless-remote-controller-gamepad-device-joypad-25-17843.png">Game App</h1>
    <ul class="menu">
          <li><%= link_to "Home", categories_path, method: 'get'%></li>
          <li><%= link_to "Profile", user_path(current_user), method: 'get'%></li>
          <li><%= link_to "Games", games_path, method: 'get'%></li>
          <li><%= link_to "Logout", signout_path, method: 'post'%></li>
          <li class="slider"></li>
      </ul>
<%else%>
    <h1 class ="game_logo">Game App</h1>
    <ul class="menu">
          <li class='image_link'><%= link_to root_path do %>
              <%= image_tag "https://cdn.iconscout.com/icon/free/png-512/game-wireless-remote-controller-gamepad-device-joypad-25-17843.png" %>
          <% end %>
          </li>
          <li><%= link_to "Sign In", signin_path%></li>
          <li><%= link_to "Sign Up", signup_path%></li>
          <li><%= link_to "Sign In with Google", '/auth/google_oauth2', method: 'post' %></li>
          <li class="slider"></li>
    </ul>
<%end%>
        
      